
# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifact
*.jsbundle

yarn.lock
package-lock.json

report*.json

src/__tests__/__snapshots__/

.vscode/

android/.settings
android/app/.classpath
android/app/.settings
android/.project
